body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    min-width: 40rem;
}
form label{
    font-weight: bold;
}
form .form-control{
    border: 1px solid #ccc;
}
